
@model IEnumerable<SchoolofMusicFineArts>
@{
    ViewData["Title"] = "School of Music and Fine Arts";
}

<partial name="_partialview" />

<h1>School of Music and Fine Arts</h1>
        <img id="img_logo" alt="Logo" src="~/Content/Images/logo.jpg" />

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary ">School of Music and Fine Arts</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="SchoolOfMusicFineArts" asp-action="Create" class="btn btn-primary">
                Create New Profile
            </a>
        </div>
    </div>
</div>
<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Register No.
            </th>
            <th>
                Course
            </th>
            <th>
                DateOfBirth
            </th>
            <th>
                Gender
            </th>
            <th>
                Email
            </th>
            <th>
                Phone no.
            </th>
            <th>
                Address
            </th>
            <th>
                Blood Group
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td >
                    @obj.Name
                </td>
                <td>
                    @obj.RegisterNumber
                </td>
                <td>
                    @obj.Course
                </td>
                <td>
                    @obj.DateOfBirth
                </td>
                <td>
                    @obj.Gender
                </td>
                <td>
                    @obj.Email
                </td>
                <td>
                    @obj.PhoneNo
                </td>
                <td>
                    @obj.Address
                </td>
                <td>
                    @obj.BloodGroup
                </td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="SchoolOfMusicFineArts" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary mx-2"><i class="bi bi-pencil-square"></i>Edit</a>
                    </div>
                </td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="SchoolOfMusicFineArts" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-2"><i class="bi bi-pencil-square"></i>Delete</a>
                    </div>
                </td>
            </tr>
           
        }
    </tbody>
</table>
